.insightMessageContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40%;
  user-select: none;
  z-index: 100;
}

.insightMessage {
  padding: 30px;
  border: 2px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 10px;
  width: 50%;
}

.closeButtonContainer {
  position: relative;
}

.closeButton {
  position: absolute;
  top: -3rem;
  right: -3rem;
  cursor: pointer;
  border: 1px solid #912424;
  background-color: #c30000;
  padding: 10px 12.5px;
  border-radius: 50%;
  color: #ffffff;
}

.closeButton:hover {
  background-color: #912424;
  color: #ffffff;
}

.topInfoContainer {
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}

.externalCta {
  padding: 5px 10px;
  color: #ffffff;
  background-color: #495853;
  border: 2px solid #495853;
  border-radius: 10px;
  text-decoration: none;
}

.externalCta:hover {
  background-color: #618378;
  border-color: #618378;
  cursor: pointer;
}

.description {
  margin-top: 10px;
  margin-bottom: 30px;
}

.insightBirdContainer {
  position: relative;
  user-select: none;
}

.insightBird {
  transform: scaleX(-1) scale(0.6);
  position: absolute;
  bottom: -7rem;
  right: -9rem;
  visibility: visible;
}

.infoCard {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.infoCardLeft {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.infoCardText {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  gap: 5px;
}

.name {
  font-size: 16px;
}

.type {
  font-size: 16px;
}

.numberChangeCard {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  font-size: 50px;
  font-weight: bolder;
  gap: 10px;
}

.greenArrow {
  color: #618378;
}

.redArrow {
  color: #912424;
}

@media only screen and (max-width: 675px) {
  .insightMessage {
    width: 75%;
  }
}

@media only screen and (max-width: 520px) {
  .insightMessage {
    width: 70%;
  }
  .insightBird {
    transform: scaleX(-1) scale(0.4);
    bottom: -6.5rem;
    right: -11rem;
  }
  .infoCard {
    padding: 10px;
  }
  .name {
    font-size: 12px;
  }
  .type {
    font-size: 12px;
  }
}

@media only screen and (max-width: 390px) {
  .insightBird {
    visibility: hidden;
  }
  .infoCard {
    padding: 10px;
  }
  .name {
    font-size: 10px;
  }
  .type {
    font-size: 10px;
  }
}
