.topRightOverlay {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  width: 115px;
}

.profileButton {
  padding: 15px 25px;
  background-color: #ffffff;
  border: 10px solid #618378;
  border-radius: 10px;
  text-decoration: none;
}

.profileButton:hover {
  color: #ffffff;
  border-color: #486159;
  cursor: pointer;
}
