body {
  background-color: #618378;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dividerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.divider {
  font-size: 5rem;
  color: #c9f0f4;
}

.dividerLine {
  height: 5px;
  width: 100px;
  background-color: #c9f0f4;
  margin: 15px;
}

.description {
  color: #c9f0f4;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.field {
  background-color: #c9f0f4;
  padding: 20px;
  border-radius: 71px;
  border: 5px solid #495853;
  width: 600px;
  margin: 20px;
  font-size: 24px;
  text-indent: 70px;
}

.padlockIcon {
  position: absolute;
  padding: 37.5px 45px;
}

.submitButton {
  padding: 10px 30px;
  background-color: #d9d9d9;
  border: 5px solid #495853;
  border-radius: 100px;
  color: #36403d;
  font-size: 24px;
  text-decoration: none;
  margin: 20px 5px;
}

.submitButton:hover {
  background-color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 876px) {
  .field {
    width: 400px;
  }
  .dividerLine {
    width: 50px;
  }
}

@media only screen and (max-width: 776px) {
  .dividerLine {
    width: 0px;
  }
}

@media only screen and (max-width: 676px) {
  .divider {
    font-size: 50px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 476px) {
  .divider {
    font-size: 40px;
  }
  .field {
    width: 300px;
  }
}
