.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #618378;
  font-size: 18vw;
  text-align: center;
  user-select: none;
}

.getStarted {
  padding: 15px 45px;
  background-color: #ffffff;
  border: 10px solid #618378;
  border-radius: 100px;
  color: #583e00;
  font-size: 3rem;
  text-decoration: none;
}

.getStarted:hover {
  background-color: #618378;
  color: #ffffff;
  cursor: pointer;
}

.sapling {
  position: absolute;
  bottom: 140px;
}

.ground {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .getStarted {
    font-size: 2rem;
    padding: 10px 30px;
    margin-top: 30px;
  }
  .title {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 600px) {
  .getStarted {
    margin: 80px;
  }
  .title {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 725px) {
  .getStarted {
    margin: 60px;
  }
  .title {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 840px) {
  .getStarted {
    margin: 40px;
  }
}

@media only screen and (min-width: 850px) {
  .getStarted {
    margin: 20px;
  }
}

@media only screen and (min-width: 950px) {
  .getStarted {
    margin: -20px;
  }
}

@media only screen and (min-width: 1100px) {
  .getStarted {
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1200px) {
  .getStarted {
    margin-top: -50px;
  }
}

@media only screen and (min-width: 1480px) {
  .getStarted {
    margin-top: -70px;
  }
  .title {
    margin-top: -40px;
  }
}
